/* section1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
width: 80%;
margin: 0 auto;

}




.navigation {
  display: flex;
justify-content: space-between;

align-items: center;




}


nav{
background-color: aqua;
}




.nav-content ul{
display: flex;
justify-content: space-around;

}

.nav-content ul a{
padding: 2em;
list-style-type: none;
text-decoration: none;
align-items: center;

}



/* section2 */

/* section3 */
